In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
card_data=pd.read_csv('C:/Users/Gayathri/Downloads/project/creditcard.csv')

In [3]:
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
legit= card_data[card_data.Class==0]
fraud= card_data[card_data.Class==1]

In [8]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [11]:
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
legit_sample=legit.sample(n=492)

In [13]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [14]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
146319,87607.0,2.116576,-0.149071,-1.620144,-0.019488,0.564931,-0.110685,0.039406,-0.089724,0.403438,...,-0.329924,-0.853304,0.161318,-1.391019,-0.151953,0.263973,-0.077448,-0.084469,1.29,0
118032,74922.0,-0.952669,0.945524,1.885894,0.074339,-0.734070,0.087670,-0.287852,0.688162,0.294946,...,-0.057951,-0.044717,-0.172307,-0.123055,0.012861,0.350017,0.209595,0.103813,9.95,0
120857,75984.0,1.113381,-0.294396,0.379274,0.348327,-0.336964,0.315035,-0.309559,0.189091,0.493503,...,-0.021280,0.108347,-0.130525,-0.220965,0.462846,0.700474,-0.028380,-0.004485,39.83,0
144188,85925.0,1.443247,-0.342625,-0.672241,-1.106904,0.276372,0.089723,-0.159109,-0.110628,-1.498410,...,0.205943,0.582666,-0.305307,-1.064480,0.881922,-0.004424,-0.011013,-0.020877,15.00,0
124184,77206.0,1.220001,0.606846,-0.354349,1.119245,0.242571,-0.686012,0.184825,-0.074397,-0.313685,...,-0.022232,-0.029366,-0.171824,-0.106264,0.703958,-0.324563,0.027429,0.037677,1.00,0

In [15]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93099.536585,-0.133466,-0.018519,0.014784,-0.070373,0.137149,0.086544,-0.014506,-0.029076,0.009630,...,0.029842,0.013618,-0.018148,0.026583,0.005341,-0.011723,-0.005115,0.000117,-0.017475,85.837276
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
x=new_dataset.drop(columns='Class', axis=1)
y=new_dataset['Class']

In [18]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
146319   87607.0  2.116576 -0.149071 -1.620144 -0.019488  0.564931 -0.110685
118032   74922.0 -0.952669  0.945524  1.885894  0.074339 -0.734070  0.087670
120857   75984.0  1.113381 -0.294396  0.379274  0.348327 -0.336964  0.315035
144188   85925.0  1.443247 -0.342625 -0.672241 -1.106904  0.276372  0.089723
124184   77206.0  1.220001  0.606846 -0.354349  1.119245  0.242571 -0.686012
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
146319  0.039406 -0.089724  0.403438  ... -0.181783 -0.329924 -0.853304
118032 -0.287852  0.688162  0.294946  ...  0.001247 -0.057951 -0.044717
120857 -0.309559  0.189091  0.493503  ... -0.060747 -0.021280  0.108347
144188 -0.159109 -0.110628 -1.498410  ...  0.153746  0.205943  0.582666
124184  0.184825 -0.074397 -0.313685  ... -0.086008 -0.022232 -0.029366
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
146319  0.161318 -1.391019 -0.151953  0.263973 -0.077448 -0.084469    1.29
118032 -0.172307 -0.123055  0.012861  0.350017  0.209595  0.103813    9.95
120857 -0.130525 -0.220965  0.462846  0.700474 -0.028380 -0.004485   39.83
144188 -0.305307 -1.064480  0.881922 -0.004424 -0.011013 -0.020877   15.00
124184 -0.171824 -0.106264  0.703958 -0.324563  0.027429  0.037677    1.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [19]:
print(y)

146319    0
118032    0
120857    0
144188    0
124184    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [20]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2, stratify= y, random_state=2)

In [21]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [22]:
model=LogisticRegression()

In [23]:
model.fit(x_train, y_train)

LogisticRegression()

In [24]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction, y_train)

In [25]:
print('Accuracy on training data:', training_data_accuracy)

Accuracy on training data: 0.9224904701397713

In [26]:
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction, y_test)

In [27]:
print('Accuracy score on test data:', test_data_accuracy)

Accuracy score on test data: 0.8883248730964467